<!--  TODO:  Show basic contact stuff (maybe githubs or smth idk) -->
<div class="contact-page">

    <span class="meet-our-team">Meet Our Team</span>
    <span class="meet-our-team-desc">Super cool people!</span>

    <div class="contact-container">

        <div class="contact-box">
            <img src="https://avatars.githubusercontent.com/NicholasMy" class="contact-pfp" id="nicholas-pfp">
            <span class="contact-name" id="nicholas">Nicholas</span>
            <a href="https://github.com/NicholasMy" target="_blank">Github</a>
        </div>

        <div class="contact-box">
            <img src="https://avatars.githubusercontent.com/taisiago" class="contact-pfp" id="taisia-pfp">
            <span class="contact-name" id="taisia">Taisia</span>
            <a href="https://github.com/taisiago" target="_blank">Github</a>
        </div>

        <div class="contact-box">
            <img src="https://avatars.githubusercontent.com/Hannabellz" class="contact-pfp" id="hannah-pfp">
            <span class="contact-name" id="hannah">Hannah</span>
            <a href="https://github.com/Hannabellz" target="_blank">Github</a>
        </div>

        <div class="contact-box">
            <img src="https://avatars.githubusercontent.com/melishas19" class="contact-pfp" id="melisha-pfp">
            <span class="contact-name" id="melisha">Melisha</span>
            <a href="https://github.com/melishas19" target="_blank">Github</a>
        </div>
        
        <div class="contact-box">
            <img src="https://avatars.githubusercontent.com/Cinnamun" class="contact-pfp" id="sharon-pfp">
            <span class="contact-name" id="sharon">Sharon</span>
            <a href="https://github.com/Cinnamun" target="_blank">Github</a>
        </div>

    </div>

    <a class="team-github" href="https://github.com/Pulsar312" target="_blank">Pulsar Github</a>

</div>

<!-- Nicholas' loading thing -->
<div class="loading">
    <div class="dot nicholas"></div>
    <div class="dot taisia"></div>
    <div class="dot hannah"></div>
    <div class="dot melisha"></div>
    <div class="dot sharon"></div>
</div>