<!--  TODO:  Show chats-->
{% if username %}
    <p>You're signed in as {{ username }}</p>
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styleHomepageSignedOut.css') }}">
    <div class="homepageBox">
        <span class="homepage-title">Homepage</span>
        <span>Grocery shopping with a pong game!</span>
        <br/>
        <img src="./static/advertisement.gif" class="advertisement">
        <button class="homepageButton">Login to play the game!</button>
    </div>
{% endif %}