{# This should only be presented when the user isn't logged in #}
{# Replaces play.html #}

<link rel="stylesheet" href="{{ url_for('static', filename='stylePlay.css') }}">

<div class="login-box">

    <span class="login-title">Already have an account? Sign in here!</span>
    <span class="login-text">New here? Register with the same form!</span>

    {% if error %}
        <p>{{ error }}</p>
        {# TODO better error style #}
    {% endif %}

    <form action="/auth/login" method="post" onsubmit="return submitAjaxForm(this, loadDiv, true);"
          enctype="multipart/form-data">

        <label class="user" for="sign-in-username">Username</label>
        <br/>
        <input type="text" name="username">
        <p></p>
        <label class="pass" for="sign-in-password">Password</label>
        <br/>
        <input type="text" name="password">

        <button type="submit">Join the Fun!</button>

    </form>

</div>