<!-- TODO: move the form into a template html maybe? need to make sure it will still work with the js file though-->

<!-- docker-compose up --build http://localhost:9090 -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylePlay.css') }}">

<div class="loginBox">

    <br/>
    <p></p>
    <span class="loginTitle">Sign in to Play!</span>
    <br/>
    <span>New here? Input any avaliable username and password to sign up!</span>
    <p></p>

    <form class="loginForm">
        <label class="formText" for="sign-in-username">Username</label>
        <br/>
        <input type="text" name="username">
        <br/>
        <p></p>
        <label class="formText" for="sign-in-password">Password</label>
        <br/>
        <input type="text" name="password">
    </form>

    <br/>
    <button onclick="sign_in()">Login</button>
    <br/>
    <span class="forgotPass">Forgot Your Password?</span>

</div>