<link rel="stylesheet" href="{{ url_for('static', filename='profilePage.css') }}">

{% if username %}
    <h1 class="space-font">{{ username }}</h1>
    <div class="bookmark">
        <img src="{{ pfp }}" class="pfpAvatar">
        <div class="forms">
            <form action="/change_avatar" id="image-form" method="POST" onsubmit="return submitAjaxForm(this, loadDiv);" enctype="multipart/form-data">
                <label for="pfp-file" class="imageLabel">Image: </label>
                <input id="pfp-file" type="file" name="upload" class="uploadButton">
                <button type="submit" class="changeButton">Change Profile Picture</button>
                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}
            </form>
            <form action="/default_avatar" method="POST" onsubmit="return submitAjaxForm(this,loadDiv);" enctype="multipart/form-data">
                <button type="submit" class="changeButton">Use A Random Default Picture</button>
            </form>
        </div>
        <div class="achievements">Achievements</br>
            {% for i in achievements %}
                <img src="{{ i.recipe_image }}" class="achievement">
            {% endfor %}
        </div>
    </div>
    <p><button class="standard-button" style="width:180px" onclick="makeAjaxRequest(`POST`, `/auth/logout-everywhere`, loadDiv, {}, 'div', false, true);">Logout Everywhere</button></p>
{% else %}
    <p>Sign in or register to view your profile!</p>
{% endif %}