<!--  TODO: Show profile for user -->
<link rel="stylesheet" href="{{ url_for('static', filename='profilePage.css') }}">

{% if username %}
<div class = "bookmark">
<img src = "{{pfp}}" class = "pfpAvatar">
<div class = "forms">
<form action="/change_avatar" id="image-form" method="post" onsubmit="return submitAjaxForm(this, loadDiv);" enctype="multipart/form-data">
    <label for="form-file" class="imageLabel">Image: </label>
    <input id="pfp-file" type="file" name="upload" class="uploadButton">
    <button type = "submit" class="changeButton">Change Profile Picture</button>
    {% if error %}
    <div class = "error">{{error}}</div>
    {% endif %}
</form>
<form action = "/default_avatar" method = "post" onsubmit="return submitAjaxForm(this,loadDiv);" enctype="multipart/form-data">
<button type = "submit" class="changeButton">Use A Random Default Picture</button>
</form>
</div>
<div class = "achievements">Achievements</br>
    <!--All of these are for testing yes it's messy but it's quick-->
    {%for i in achievements%}
    <img src = {{i}} class = "achievement">
    {%endfor%}
</div>
</div>
{% else %}
    <p>Sign in or register to view your profile!</p>
{% endif %}


