{% extends "base.html" %}
{% block title %}Pong Game - {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='pong.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}

    {# ONLY the game config is guaranteed to exist within this template. The players might not be assigned yet! #}
    {# DO NOT fetch player info in this template, that must be obtained through the websocket and JavaScript #}

    <h1>Pulsar's Produce Pong</h1>

    <div class="center row" style="width: {{ game.config.game_width }}px;">
        <div class="column_left">
            <span id="left_username" class="medium-text"></span>
            <span id="left_score" class="score-text"></span>
        </div>

        <div class="column">
            <div class="center">
                <img id="current_ingredient_img" class="fit-img center-text" src="" alt="Current ingredient image"/>
            </div>
            <span class="center-text" id="current_ingredient_name"></span>
        </div>

        <div class="column_right">
            <span id="right_username" class="medium-text"></span>
            <span id="right_score" class="score-text"></span>
        </div>
    </div>

    <div id="game-border" class="center"
         style="width: {{ game.config.game_width }}px; height: {{ game.config.game_height }}px;">
        <div id="left" class="paddle" style="width: {{ game.config.paddle_width }}px;
                height: {{ game.config.paddle_height }}px;
                left: {{ game.left.paddle.x }}px;
                top: {{ game.left.paddle.y }}px;"></div>
        <div id="right" class="paddle" style="width: {{ game.config.paddle_width }}px;
                height: {{ game.config.paddle_height }}px;
                left: {{ game.right.paddle.x }}px;
                top: {{ game.right.paddle.y }}px;"></div>
        <div id="ball" class="ball" style="visibility: hidden;
                width: {{ game.ball.physics_object.width }}px;
                height: {{ game.ball.physics_object.height }}px;
                left: {{ game.ball.physics_object.x }}px;
                top: {{ game.ball.physics_object.y }}px;"></div>

        <div class="center" id="loading-div">
            <div class="loading">
                <div class="dot nicholas"></div>
                <div class="dot taisia"></div>
                <div class="dot hannah"></div>
                <div class="dot melisha"></div>
                <div class="dot sharon"></div>
            </div>
            <br>
            <br>
            <p>The game will begin once both players are ready.</p>
            <p><span class="pressw">Press W</span> or any movement key to mark yourself as ready.</p>
            <p id="left-status"></p>
            <p id="right-status"></p>
        </div>

    </div>

    <div class="center row" style="width: {{ game.config.game_width }}px;">
        <div id="left_ingredients" class="column left">

        </div>
        <div id="right_ingredients" class="column right">

        </div>
    </div>



    <script>
        const socket = new WebSocket("ws://" + location.host + "/gamews/{{ game_id }}");
    </script>
    <script src="{{ url_for('static', filename='pong.js') }}"></script>


{% endblock %}