<div class="topnav">
    <a style="font-size: 30px; padding-top: 15px; padding-bottom: 15px" onclick="makeAjaxRequest(`GET`, `/homepage`, loadDiv, {}, 'div');" id="Pulsar"> Pulsar </a>
    <a onclick="makeAjaxRequest(`GET`, `/about`, loadDiv, {}, 'div');" id="about">About</a>
    <a onclick="makeAjaxRequest(`GET`, `/contact`, loadDiv, {}, 'div');" id="contact">Contact</a>
    <a onclick="makeAjaxRequest(`GET`, `/profile`, loadDiv, {}, 'div');" id="profile">Profile</a>
    <a onclick="" id="logout" >Logout</a> <!--  TODO: create function to log out (delete the cookie and go to homepage)-->
</div>