<div class="topnav">
    <a style="font-size: 30px; padding-top: 15px; padding-bottom: 15px" onclick="makeAjaxRequest(`GET`, `/homepage`, loadDiv, {});" id="Pulsar"> Pulsar </a>
    <a onclick="makeAjaxRequest(`GET`, `/about`, loadDiv, {});" id="about">About</a>
    <a onclick="makeAjaxRequest(`GET`, `/contact`, loadDiv, {});" id="contact">Contact</a>
    <a onclick="makeAjaxRequest(`GET`, `/profile`, loadDiv, {});" id="profile">Profile</a>

    {% if logged_in %}
        <a onclick="makeAjaxRequest(`POST`, `/auth/logout`, loadDiv, {});" id="logout">Logout</a>
    {% else %}
        <a onclick="makeAjaxRequest(`GET`, `/play`, loadDiv, {});" id="play">Play</a>
    {% endif %}


</div>