<div class="top-nav">

    <div class="nav-left">
        <a class="webname" onclick="makeAjaxRequest(`GET`, `/homepage`, loadDiv, {}, 'div');" id="Pulsar">
            <img class="nav-logo" src="/static/pulsar.png" alt="logo">
            <span class="pulsar">Pulsar's Produce Pong</span>
        </a>
    </div>

    <div class="nav-right">
        <a class="tabs" onclick="makeAjaxRequest(`GET`, `/about`, loadDiv, {},'div');" id="about">About</a>
        <a class="tabs" onclick="makeAjaxRequest(`GET`, `/contact`, loadDiv, {}, 'div');" id="contact">Contact</a>
        <a class="tabs" onclick="makeAjaxRequest(`GET`, `/profile`, loadDiv, {}, 'div');" id="profile">Profile</a>

        {% if logged_in %}
        <a class="tabs" onclick="makeAjaxRequest(`POST`, `/auth/logout`, loadDiv, {}, 'div', false, true);"
            id="logout">Logout</a>
        {% else %}
        <a class="tabs" onclick="makeAjaxRequest(`GET`, `/play`, loadDiv, {}, 'div');" id="play">Play</a>
        {% endif %}
    </div>

</div>