<div class="topnav">
    
    <div class="nav-left">
    <img class="nav-logo" src="/static/pulsar.png" alt="logo">
    <a class="webname" onclick="makeAjaxRequest(`GET`, `/homepage`, loadDiv, {'id': get_cookie('id')});" id="Pulsar">
        Pulsar's Produce Pong
    </a>
    </div>
    
    <div class="options">
        <a class="tabs" onclick="" id="logout" >Logout</a> <!--  TODO: create function to log out (delete the cookie and go to homepage)-->
        <a class="tabs" onclick="makeAjaxRequest(`GET`, `/profile`, loadDiv, {});" id="profile">Profile</a>
        <a class="tabs" onclick="makeAjaxRequest(`GET`, `/contact`, loadDiv, {});" id="contact">Contact</a>
        <a class="tabs" onclick="makeAjaxRequest(`GET`, `/about`, loadDiv, {});" id="about">About</a>
    </div>
    
</div>