body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/background.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
}

.fixcontent p {
    text-align: center;
    margin-top: -15px;
}

#game-border {
    background-color: rgba(34, 26, 41, 0.75);
    position: relative;
    overflow: hidden;
}

.center {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column_left, .column_right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.paddle {
    position: absolute;
}

#left.paddle {
    background-color: #ffb3de;
}

#right.paddle {
    background-color: #A284D3;
}

.ball {
    background-color: white;
    position: absolute;
}

.score-text {
    font-family: "Quantico", monospace;
    font-size: 80px;
}

.medium-text {
    font-size: 36px;
    margin-bottom: -15px;
}

#left_username.medium-text {
    color: #ffb3de;
}

#right_username.medium-text {
    color: #A284D3;
}

#current_ingredient_name {
    margin-bottom: 20px;
    font-family: "Quantico", monospace;
}

.fit-img {
    height: auto;
    width: 200px;
    object-fit: contain;
}

.historic-game-container {
    max-width: 800px;
}