.pfpAvatar {
  border-radius: 10px;
  width: 40vmin;
  height: 40vmin;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
}
.imageLabel {
  font-family: "Quantico", sans-serif;
}
.uploadCheck{
  cursor:pointer;
  background-color:#492390;
  color:white;
}
input[type="file"]::file-selector-button {
  border-radius: 5px;
  color: white;
  background-color: #492390;
  padding: 2px;
  display: block;
  margin-top: 3px;
  cursor: pointer;
}
.changeButton {
  border-radius: 5px;
  color: white;
  background-color: #492390;
  padding: 2px;
  display: block;
  margin-top: 3px;
  cursor:pointer;
}
.uploadButton {
  display: block;
}
.bookmark {
  border-left: 1px dotted black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  background-color: aliceblue;
  max-height: 60vmin;
}
.error {
  color: #9e172d;
  font-weight: bold;
}
.achievements {
  display: block;
  font-size: x-large;
  font-family: "Quantico";
  max-height: 60vmin;
  overflow: auto;
}
.achievement {
  width: 16vmin;
  height: 16vmin;
  object-fit: contain;
  margin-left: 2px;
  border-radius: 10px;
}
.achievements::-webkit-scrollbar {
  width: 1.4vmin;
}
.achievements::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #492390;
}
@media only screen and (max-width: 700px) {
  .bookmark {
    flex-direction: column;
    max-height: revert;
    max-height: 120vmin;
  }
  .achievements {
    display: block;
    font-size: x-large;
    font-family: "Quantico";
    min-height: 60vmin;
    overflow-x: auto;
  }
}
