:root {
    --primary: #492390;
    --background: #f0e8ff;
    --dark: #18063b;
    --light: #ffffff;
    --pink: #ffb3de;

    --purple: #A284D3;
    --darker-purple: #9170BB;
    --darker-white: #D7D7D7;
    --trans-black: rgba(34, 26, 41, 0.75);
    --box-shadow: rgba(0, 0, 0, 0.5);

    --nicholas-color: #307cdb;
    --taisia-color: #f21d61;
    --hannah-color: #f57924;
    --melisha-color: #7051b6;
    --sharon-color: #f1493b;
    /* TODO make these precise colors */
}

/*-----------------BODY-----------------*/
body {
    background-color: var(--background);
    color: var(--primary);
    display: flex;
    flex-direction: column;
}

p {
    color: var(--dark);
}

/*-----------------DIV CONTAINERS-----------------*/
.div {
    background-color: var(--light);

    border-style: solid;
    border-width: 1px;
    border-color: var(--primary);

    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

/* Needed to fix the footer*/
.fixcontent{        
    flex: 1 0 auto;
    min-height: calc(100vh - 40px);
}

/*-----------------HEADER-----------------*/
.header {
    background-color: var(--primary);
    color: var(--background);

    background-image: url("/static/Pulsar_Pros.png"); /*  replace this with our banner  */

    min-height: 250px;

    /* Center and scale the image nicely */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

}

.header p {
    color: var(--light);
    padding-right: 5px;
    padding-left: 5px;
}


/*-----------------NAV BAR-----------------*/
.top-nav {
    background-color: var(--trans-black);
    height: 90px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px var(--box-shadow);
    font-family: "Quantico";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    margin-left: 40px;
}

.nav-right {
    margin-right: 40px;
}

.nav-logo {
    height: 45px;
    border-radius: 100%;
    vertical-align: top;
}

.webname {
    color: var(--purple);
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 8px;
}

.webname:hover {
    color: var(--darker-purple);
}

.webname:active {
    color: var(--purple);
}

.tabs {
    color: white;
    font-size: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.tabs:hover {
    color: var(--darker-white)
}

.tabs:active {
    color: white;
}

@media screen and (max-width: 520px) {
    .nav-left {
        margin-left: 4vw;
    }
    .webname {
        margin: 0;
    }
    .pulsar {
        display: none;
    }
    .nav-right {
        margin-right: 4vw;
    }
    .tabs {
        margin-left: 3vw;
    }
}


/*-----------------FOOTER-----------------*/
.footer {
    background-color: var(--primary);
    color: var(--background);
    bottom:0;
    left:0;
    right:0;
    height: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.footer p {
    color: var(--light);
    padding-right: 5px;
    padding-left: 5px;
}

.footer a {
    color: var(--pink);
}

/*-----------------LOADING-----------------*/

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes dot1 {
    0% {
        transform: translate(10.0px, -10.0px);
    }
    20% {
        transform: translate(35.0px, -10.0px);
    }
    40%, 100% {
        transform: translate(10.0px, -10.0px);
    }
}

@keyframes dot2 {
    0% {
        transform: translate(-3.819660112501051px, 9.02113032590307px);
    }
    20% {
        transform: translate(3.9057647468726344px, 32.79754323328191px);
    }
    40%, 100% {
        transform: translate(-3.819660112501051px, 9.02113032590307px);
    }
}

@keyframes dot3 {
    0% {
        transform: translate(-26.180339887498945px, 1.7557050458494654px);
    }
    20% {
        transform: translate(-46.40576474687263px, 16.450336353161298px);
    }
    40%, 100% {
        transform: translate(-26.180339887498945px, 1.7557050458494654px);
    }
}

@keyframes dot4 {
    0% {
        transform: translate(-26.180339887498953px, -21.75570504584946px);
    }
    20% {
        transform: translate(-46.40576474687264px, -36.45033635316129px);
    }
    40%, 100% {
        transform: translate(-26.180339887498953px, -21.75570504584946px);
    }
}

@keyframes dot5 {
    0% {
        transform: translate(-3.8196601125010554px, -29.021130325903073px);
    }
    20% {
        transform: translate(3.9057647468726255px, -52.797543233281914px);
    }
    40%, 100% {
        transform: translate(-3.8196601125010554px, -29.021130325903073px);
    }
}


div.loading {
    background-color: white;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    position: relative;
    margin: 0 auto;
    animation: rotate 7s infinite linear;
}

div.loading > .dot {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 50%;
    background-color: black;
    border-radius: 100%;
}

div.loading > .dot.nicholas {
    background-color: var(--nicholas-color);
    top: 50%;
    left: 50%;
    animation: dot1 3s infinite;
}

div.loading > .dot.taisia {
    background-color: var(--taisia-color);
    animation: dot2 3s infinite;
    animation-delay: -.6s;
}

div.loading > .dot.hannah {
    background-color: var(--hannah-color);
    animation: dot3 3s infinite;
    animation-delay: -1.2s;
}

div.loading > .dot.melisha {
    background-color: var(--melisha-color);
    animation: dot4 3s infinite;
    animation-delay: -1.8s;
}

div.loading > .dot.sharon {
    background-color: var(--sharon-color);
    animation: dot5 3s infinite;
    animation-delay: -2.4s;
}


/*-----------------CONTACT PAGE-----------------*/
.contact-page {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.meet-our-team {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
}
.contact-container {
    display: flex;
    flex-flow: row wrap;
    margin: 15px 0px 15px 0px;
}
.contact-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--trans-black);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 20px;
    margin: 10px;
    gap: 10px;
}
.contact-pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#nicholas-pfp {
    border: 3px solid var(--nicholas-color);
}
#taisia-pfp {
    border: 3px solid var(--taisia-color);
}
#hannah-pfp {
    border: 3px solid var(--hannah-color);
}
#melisha-pfp {
    border: 3px solid var(--melisha-color);
}
#sharon-pfp {
    border: 3px solid var(--sharon-color);
}
.contact-name {
    font-weight: bold;
    letter-spacing: 1px;
}
#nicholas {
    color: var(--nicholas-color);
}
#taisia {
    color: var(--taisia-color);
}
#hannah {
    color: var(--hannah-color);
}
#melisha {
    color: var(--melisha-color);
}
#sharon {
    color: var(--sharon-color);
}
.contact-box a {
    text-decoration: none;
    color: white;
}
.team-github, .meet-our-team-desc {
    color: black;
    text-decoration: none;
}
.contact-page a {
    font-size: 13px;
}
.contact-page a:hover {
    text-decoration: underline;
}
/*-----------------MESSAGES-----------------*/

.leftcontainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: solid 2px #7d789b;
    padding: 21px;
    border-radius: 20px;
    background-color: #b6b4c3;
    overflow-y: auto;
}

.users_list{
    list-style-type: none;
    font-size: large;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #2243e3;
}

.rightcontainer {
    display: flex;
    flex-direction: column;
    border: solid 2px #7d789b;
    padding: 1rem;
    width: 70%;
    border-radius: 20px;
}

.show_img{
    display: flex;
    flex-direction: row;
}

.fit-img-msg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height:40vh;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 35vh;
}

.write_msg {
    display: flex;
    align-items: baseline;
}

.show_msg {
    display: flex;
    align-items: flex-start;
    height: 40vh;
    flex-direction: column;
    overflow-y: scroll;
}

.chats{
    list-style-type: none;
    margin: 5px;
    background-color: #b6b4c3;
    padding: 10px;
    border-radius: 10px;
}

.send_button{
    background-color: #7d789b;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    width: 10%;
}

.align_msg_right{
    display: flex;
    justify-content: right;
    width: 98%;
    flex-direction: row-reverse;
}

.align_msg_left{
    display: flex;
    justify-content: left;
    width: 100%;
    flex-direction: row;
}

.input_box{
    width: 55vw;
    border-radius: 10px;
    height: 50%;
    padding: 5px;
    border: solid 2px #7d789b;
}
