:root {
    --primary: #492390;
    --background: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--primary);
}

.header {
    background-color: var(--primary);
    color: var(--background);
}

.footer {
    background-color: var(--primary);
    color: var(--background);
}